*{
  font-family: 'Poppins', sans-serif;
}
.heading{
  font-style: italic;
  font-weight: bolder;
  color: #282c34;
}
body{
  background-color: gainsboro;
}
.btns button{
  margin-right: 20px;
}
.h5{
  display: inline;
}
:root {
  --text-color: black;
  --background-color: white;
  /* ... other color variables */
}

.dark-mode {
  --text-color: white;
  --background-color: black;
}
.accordion {
  background-color: var(--background-color);
  color: var(--text-color);
  /* ... other styles */
}
